@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <h1 class="display-4">Welcome to SimpleCRM!</h1>
</div>

<div>
    <h2>SimpleCRM Is <em>Your</em> CRM!</h2>
    <p>SimpleCRM is the simplest customer relationship management tool you'll ever use. Check out our amazing list of features!</p>
</div>

<section>
    <h2>Features</h2>
    <p>Our amazing features speak for themselves. Have a look and see the SimpleCRM difference.</p>
    <div class="features">
        <img src="accountCircle.svg" />
        <div>
            <p><strong>Feature 1</strong></p>
            <p>Feature 1 description</p>
        </div>
    </div>
    <div class="features">
        <img src="reduceCapacity.svg" />
        <div>
            <p><strong>Feature 2</strong></p>
            <p>Feature 2 description</p>
        </div>
    </div>
    <div class="features">
        <img src="info.svg" />
        <div>
            <p><strong>Feature 3</strong></p>
            <p>Feature 3 description</p>
        </div>
    </div>
    <button>Sign up today to experience<br /> the SimpleCRM difference</button>
</section>