@model CustomerEditViewModel
@{ ViewBag.Title = $"Simple CRM | Edit {Model.LastName}";
}

<h1>Editing @Model.FirstName @Model.LastName</h1>

<section>
    <form method="post" asp-antiforgery="true">
        <div class="mdl-cell mdl-cell--12-col page-row">
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--9-col mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col page-row">
                    <label asp-for="FirstName" class="mdl-textfield__label"></label>
                    <input asp-for="FirstName" class="mdl-textfield__input" />
                    <span asp-validation-for="FirstName" class="mdl-textfield__error"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col page-row">
                    <label asp-for="LastName" class="mdl-textfield__label"></label>
                    <input asp-for="LastName" class="mdl-textfield__input" />
                    <span asp-validation-for="LastName" class="mdl-textfield__error"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col page-row">
                    <label asp-for="PhoneNumber" class="mdl-textfield__label"></label>
                    <input asp-for="PhoneNumber" class="mdl-textfield__input" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col page-row">
                    <label asp-for="Type" class="mdl-textfield__label"></label>
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList(typeof(CustomerType))" class="mdl-textfield__input"></select>
                    <span asp-validation-for="Type"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col page-row">
                    <label asp-for="OptInNewsletter" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input asp-for="OptInNewsletter" class="mdl-checkbox__input" />
                        <span class="mdl-checkbox__label">Opt Into the Newsletter?</span>
                    </label>
                    
                    <span asp-validation-for="OptInNewsletter"></span>
                </div>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Edit Customer</button>
        </div>
</form>
</section>
