@model Models.Home.HomePageViewModel
@{
    ViewBag.Title = "Customers";
}
<div class="content">
    <h1>Customers</h1>
    <main>
        <div class="mdl-list">
            @foreach (var customer in Model.Customers)
            {
                <partial name="_Summary" model="customer" />
            }
        </div>
        <a asp-action="Create" asp-controller="Home">Create</a>
    </main>
</div>
