@model Models.Home.HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>
<main>
    @foreach (var customer in Model.Customers)
    {
        <partial name="_Summary" model="customer" />
    }
    <a asp-action="Create" asp-controller="Home">Create</a>
</main>
